[Desktop Entry]
Type=Application
Name=Antigravity IDE
GenericName=Text Editor
Comment=Google's agent-first development environment
Exec={{ ai_tools_opt }}/antigravity-ide/antigravity-ide %F
Terminal=false
Categories=Development;IDE;TextEditor;
MimeType=text/plain;inode/directory;
Keywords=editor;ide;ai;google;antigravity;
StartupNotify=true
Icon={{ ai_tools_opt }}/antigravity-ide/resources/app/resources/linux/code.png
